@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  @font-face {
    font-family: 'Leckerli';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/leckerli-one-latin-400-normal.woff') format('woff');
  }
}