---
import Insights from "../components/Insights.astro";
import AboutUs from "../layouts/AboutUs.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../layouts/Header.astro";
import Navbar from "../layouts/Navbar.astro";
import Products from "../layouts/Products.astro";
import Testimonials from "../layouts/Testimonials.astro";
import Footer from "../layouts/Footer.astro";
import Contact from "../layouts/Contact.astro";
---

<!-- page container -->
<BaseLayout class="" title="Primavera Maf">
	<div
		class="absolute inset-0 -z-10 h-full w-full bg-white bg-[linear-gradient(to_right,#8080800a_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-[size:14px_24px]"
	>
		<div
			class="absolute left-40 right-0 top-40 -z-10 m-auto h-[310px] w-[310px] rounded-full bg-blue-700 opacity-20 blur-[100px]"
		>
		</div>
	</div>
	<Navbar />
	<Header />
	<Insights class="my-20" />
	<AboutUs />
	<Products />
	<Testimonials />
	<Contact />
	<Footer />
</BaseLayout>
