---

---

<form class="grid grid-cols-2 p-4 gap-4 text-blue-950 font-bold" action="">
  <input
    class="py-2 px-4 rounded-full col-span-2"
    type="text"
    placeholder="Nombre"
  />
  <input
    class="py-2 px-4 rounded-l-full"
    type="email"
    name="correo"
    id=""
    placeholder="Correo Electronico"
  />
  <input
    class="py-2 px-4 rounded-r-full"
    type="number"
    name="telefono"
    id=""
    placeholder="Numero telefonico"
  />
  <textarea
    class="py-2 px-4 rounded-3xl col-span-2 resize-none"
    name="mensaje"
    id=""
    cols="30"
    rows="10"
    placeholder="Escribe aqui..."></textarea>
  <button
    class="py-2 px-4 bg-amber-400 rounded-full inline-flex justify-center items-center gap-2 col-span-2"
    >Enviar correo</button
  >
</form>
