---

---

<section class="my-40 pl-6">
  <div class="flex gap-8">
    <div class="min-w-fit">
      <div
        class="aspect-video w-[50vw] rounded-3xl absolute translate-y-6 -translate-x-6 bg-blue-800 -z-10"
      >
      </div>
      <img
        class="aspect-video object-none w-[50vw] rounded-3xl"
        src="/images/team.jpeg"
        alt="pharmaceutic team"
      />
    </div>

    <div>
      <h2 class="text-5xl text-balance mb-4 font-leckerli">
        Acerca de nuestro equipo
      </h2>
      <p class="text-pretty mb-2">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa,
        laboriosam ad! Repellat iusto vel adipisci, rem consequuntur rerum
        possimus! Nostrum nesciunt est ut adipisci illum perferendis. Ea quam
        blanditiis quos.
      </p>
      <p class="text-pretty">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa,
        laboriosam ad! Repellat iusto vel adipisci, rem consequuntur rerum
        possimus! Nostrum nesciunt est ut adipisci illum perferendis. Ea quam
        blanditiis quos.
      </p>
    </div>
  </div>
</section>
