---
import ContactForm from "../components/ContactForm.astro";
import { Icon } from "astro-icon/components";
---

<section class="my-40">
  <div class="flex gap-8">
    <div class="w-[40vw] bg-blue-800 rounded-3xl text-white">
      <ContactForm />
    </div>

    <div class="w-1/2">
      <h2 class="text-5xl text-balance mb-4 font-leckerli">
        Contacta con nosotros
      </h2>
      <p class="text-pretty mb-2">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa,
        laboriosam ad! Repellat iusto vel adipisci, rem consequuntur rerum
        possimus! Nostrum nesciunt est ut adipisci illum perferendis. Ea quam
        blanditiis quos.
      </p>
      <p class="text-pretty">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa,
        laboriosam ad! Repellat iusto vel adipisci, rem consequuntur rerum
        possimus! Nostrum nesciunt est ut adipisci illum perferendis. Ea quam
        blanditiis quos.
      </p>

      <div class="flex gap-4 items-center mt-8">
        <Icon class="size-8" name="envelope-solid" />
        <div>
          <p class="font-bold">Lunes a Viernes 8:00am a 5:00pm</p>
          <a href="tel:0123456789">0123456789</a>
        </div>
      </div>

      <div class="flex gap-4 items-center mt-8">
        <Icon class="size-8" name="mobile-screen-solid" />
        <div>
          <p class="font-bold">
            Escribanos! Estaremos atentos a sus requerimientos.
          </p>
          <a href="mailto:gerencia@primaveramaf.com"
            >gerencia@primaveramaf.com
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
