---
import { Icon } from "astro-icon/components";
import ContactForm from "../components/ContactForm.astro";
---

<footer class="bottom-0 text-white bg-blue-800 rounded-t-3xl">
  <div
    class="flex justify-between items-center pb-2 pt-4 px-4 gap-4 text-center"
  >
    <div class="w-[104px]"></div>
    <p class="font-bold">Todos los derechos reservados © 2024 Primavera maf</p>
    <div class="flex gap-4">
      <Icon class="size-6" name="facebook" />
      <Icon class="size-6" name="x-twitter" />
      <Icon class="size-6" name="instagram" />
    </div>
  </div>
</footer>
