---

---

<script>
  const titleChanging = document.querySelector("[title-changing]");
  const titleValues = ["Salud", "Vitalidad", "Energia"];
  let n = 0;

  setInterval(() => {
    n = (n + 1) % titleValues.length; // Circular increment using modulo operator
    titleChanging.textContent = titleValues[n]; // Set the content directly
  }, 4000);
</script>
<header>
  <div
    class="flex flex-col items-center w-[40vw] mx-auto mt-16 text-center mb-12"
  >
    <img src="/images/prim.png" alt="" />
    <h1 class="text-3xl">Bienvenido a Primavera Maf</h1>
    <h2 class="text-6xl mb-4 font-leckerli w-[50vw]">
      Brindamos
      <span class="text-amber-500" title-changing>Salud</span>
       para toda la familia
    </h2>
    <p>
      Laboratorio primavera MAF c.a, es una empresa dedicada al desarrollo,
      producción, comercialización y distribución de productos naturales,
      suplementos alimenticios, vitaminas y cosméticos en Venezuela. Nuestro
      desafío es que todos tengan acceso a nuestros productos y para nosotros el
      compromiso, es mejorar la salud y calidad de vida de las personas.
    </p>
  </div>
</header>
