---
import { Icon } from "astro-icon/components";
---

<nav class="sticky top-0 bg-white shadow-md rounded-b-3xl z-50">
  <div class="flex justify-between items-center py-2 px-4 gap-4 text-center">
    <img class="w-28" src="/images/prim.png" alt="" />
    <div class="flex gap-6 font-bold">
      <a href="#">Sobre nosotros</a>
      <a href="#">Nuestros productos</a>
      <a href="#">Materias Primas</a>
    </div>
    <div class="flex gap-4">
      <Icon class="size-6" name="facebook" />
      <Icon class="size-6" name="x-twitter" />
      <Icon class="size-6" name="instagram" />
    </div>
  </div>
</nav>
