---
import TestimonialCard from "../components/TestimonialCard.astro";
---

<section class="mb-40">
  <div class="text-center text-lg mb-16">
    <h2 class="font-leckerli text-6xl mb-2">Nuestra Mision</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
      dignissimos ratione perferendis perspiciatis repellat facere? Impedit in
      vero dignissimos eveniet placeat suscipit, ut excepturi est rerum
      doloremque sunt nesciunt similique! Lorem ipsum dolor sit amet,
      consectetur adipisicing elit. Magni excepturi possimus facilis, aliquid,
      accusamus error placeat, numquam nihil natus dolores maxime quam sint!
      Rerum unde illo non ullam voluptate facilis!
    </p>
  </div>
  <div class="flex gap-8">
    <TestimonialCard
      name="Gabriel Garcia"
      position="Medico Farmaceutico"
      testimonial=`Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat debitis
    officiis sed repudiandae eos qui. Voluptas maiores, a alias hic, corrupti
    quasi, eos beatae sunt suscipit magni doloremque recusandae error?`
      image="/images/medic1.png"
    />
    <TestimonialCard
      name="Gabriel Garcia"
      position="Medico Farmaceutico"
      testimonial=`Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat debitis
    officiis sed repudiandae eos qui. Voluptas maiores, a alias hic, corrupti
    quasi, eos beatae sunt suscipit magni doloremque recusandae error?`
      image="/images/medic1.png"
    />
    <TestimonialCard
      name="Gabriel Garcia"
      position="Medico Farmaceutico"
      testimonial=`Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat debitis
    officiis sed repudiandae eos qui. Voluptas maiores, a alias hic, corrupti
    quasi, eos beatae sunt suscipit magni doloremque recusandae error?`
      image="/images/medic1.png"
    />
  </div>
</section>
